
*{
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: white;
}

body header{
    background-color: rgb(7, 86, 135);
}

header .logo{
    max-width: 70px;
    display: block;
    padding: 5px;
}

header h1{ 
    padding: 10px;
    text-align: center;
    color: white;
}

header p {
    color: white;
    text-align: center;
    padding-bottom: 10px;
}

nav{
    padding-left: 30px;
    background-color: rgb(7, 86, 135);
    margin-bottom: 10px;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 10px 5px;
}

nav a:hover{
    background-color: rgb(92, 163, 239);
    border-radius: 10px;
}

section p{
    text-align: justify;
    line-height: 1.5em;
    font-size: 1em;
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

section img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

footer{
    background-color: rgb(7, 86, 135);
}

footer p{
    color: white;
    text-align: center;
    font-weight: bold;
}